*{
  font-family: monospace,serif,fantasy,sans-serif;
  margin: 0px;
  padding: 0px;
}
header{
    background-color: grey;
    background-size: auto;
    height: 100px;
}
.cover{
  background-image: url(images/headphones.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
nav{
  padding: 15px;
  margin: auto;
  float: right;
}
main{
  text-align: center;
  color: black;
  margin: 20px 20px 20px 20px;
  padding: 40px;
  background-color: silver;
  background-size: cover;
}

footer{
  background-color: gray;
  padding: 10px;
}

.btn{
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 20px;
}

.btn-primary {
  color: #fff;
  background-color: black;
  border-color: #2e6da4;
}
.btn-contact{
  color: white;
  background: black;
  border-color: #2e6da4;
  margin: 15px;

}

.logo{
  height: auto;
  float: left;
  margin: 10px 10px 10px 10px;
  border-radius: 50%;
}


.intro{
  background-color: silver;
  float: left;
  padding: 40px 40px 0 0;
  height: 120px;
  width: 35%;
}
.aboutMe{
  background-color: silver;
  float: right;
  padding: 40px 40px 0 0;
  height: 120px;
  width: 35%;
}
a:hover{
  color: black;
  background: white;
}
