body {
  margin: 0;
}

header {
  background-color: grey;
  margin-bottom: 40px;
}

header h1 {
  font-family: "Gochi Hand";
  font-size: 52px;
  color: #fff;
  text-align: center;
  margin: 0;
  padding-top: 20px;
}
header img {
  padding: 10px;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  width: 0;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

header nav ul li a {
  font-family: Montserrat;
  color: #fff;
  text-decoration: none;
  margin: 0 25px 0 0;
}
header nav ul li:last-child a {
  margin-right: 0;
}

.group {
  display: flex;
  flex-direction: column;
}
.item {
  flex: 1;
  margin: 10px;
}
.item-double {
  flex: 2;
}
.cover {
  /* this will set the cover image */
  background-image: url(images/headphones.jpg);
  background-size: cover;
  background-position: center;
  height: 40vh;
}
main {
  /* sets up the main page by setting the margin, the background color, the amount of empty space, and  the size */
  text-align: center;
  color: black;
  margin: 20px 20px 20px 20px;
  padding: 40px;
  background-color: silver;
  background-size: cover;
}
.intro {
  /* sets empty space for my intro */
  background-color: silver;
  float: left;
  padding: 40px 40px 0 0;
  height: 120px;
  width: 35%;
}
.aboutMe {
  /* sets empty space for the about me page */
  background-color: silver;
  float: right;
  padding: 40px 40px 0 0;
  height: 120px;
  width: 35%;
}
form label {
  display: flex;
  flex-direction: column;
  align-self: center;
}
article {
  align-self: center;
}
button {
  margin: 20px 20px 20px 20px;
}
footer {
  /* sets color for the bottom of the page */
  background-color: gray;
  padding: 10px;
}
.btn-contact {
  list-style: none;
  text-decoration: none;
  /* more specific for the contact buttons */
  color: white;

  margin: 15px;
}

.projects{
  display: flex;
  flex-direction: column;
}

footer ul li {
  margin: 20px 20px 20px 20px;
}
@media all and (min-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }
  header img {
    padding: 10px;
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    width: auto;
  }
  header h1 {
    font-size: 42px;
    margin: 14px 0;
    padding-top: 6px;
  }
  header nav ul li a {
    font-family: Montserrat;
    color: #fff;
    text-decoration: none;
    margin: 0 10px 0 0;
  }

  header nav {
    margin-top: 14px;
  }

  .btn {
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 20px;
  }
  .btn-primary {
    color: #fff;
    background-color: black;
    border-color: #2e6da4;
  }
  a:hover {
    color: black;
    background: white;
  }
  .cover {
    /* this will set the cover image */
    background-image: url(images/headphones.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
  }
  button:hover {
    color: black;
    background: white;
  }
  .btn-contact {
    background: black;
    border-color: #2e6da4;
  }
}
